.App {
  text-align: center;
  background: rgb(93, 175, 202);
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.blah{
  text-align: center;
  background: rgb(93, 175, 202);
  height: 100vh;  
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: white;
  color: lightblue;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: lightblue;
}
.chirp{
  border-radius: 30px;
  height: 300px;
  width: 300px;
  background: white;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}